# Automatic artifacts
.DS_Store
__pycache__
.ipynb_checkpoints
.vscode/

# Repo specific
env/
configs/arotor_replication/result_generation/*
configs/arotor/result_generation/*
data/RAW/*
data/processed/*
model_weights/*
reports/processed/grad_cam_figures/*
reports/RAW/embedding_databases/*
reports/RAW/logs/*
reports/RAW/logs_tb/*
reports/RAW/optuna_studies/*
reports/RAW/result_generation/*
reports/RAW/NoML/*
reports/processed/images/*
reports/**/*.pkl
torch_downloads/*
slurm-*.out

# Exceptions
!/**/.gitkeep