# Automatic artifacts
.DS_Store
__pycache__
.ipynb_checkpoints
.vscode/

# Repo specific
env/
configs/arotor_replication/result_generation/*
configs/arotor/result_generation/*
data/RAW/*
data/processed/*
reports/RAW/logs/*
reports/RAW/logs_tb/*
reports/RAW/optuna_studies/*
reports/RAW/NoML/*
reports/**/*.pkl
torch_downloads/*

# Exceptions
!/**/.gitkeep